[submodule "Argus/vendor/spdlog"]
	path = Argus/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Argus/vendor/GLFW"]
	path = Argus/vendor/GLFW
	url = ../../TheCherno/glfw.git
[submodule "Argus/vendor/imgui"]
	path = Argus/vendor/imgui
	url = ../../TheCherno/imgui.git
[submodule "Argus/vendor/glm"]
	path = Argus/vendor/glm
	url = ../../g-truc/glm.git
[submodule "Argus/vendor/yaml-cpp"]
	path = Argus/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
