# Directories
.vs/
bin/
bin-int/

# Files
*.user
packages/
Sandbox/ArgusProfile-Runtime.json
Sandbox/ArgusProfile-Shutdown.json
Sandbox/ArgusProfile-Startup.json

# Argus files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj